.language-box {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #2e8b57;
  background-color: #2e8b57;
  color: white;
  width: fit-content;
  display: inline-block;
  flex-wrap: wrap;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
